@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main: #06283D;
    --turcoaz: #256D85;
    --albastru: #47B5FF;
    --gri: #DFF6FF;
}

/* ----NAVBAR---- */
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: var(--main);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav>.logo>.sigla{
    margin-top:-20px;
    width:65px;
    height:65px;
    display:flex;
    flex-wrap:Wrap;
}
nav>ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav>ul>li {
    margin: 0 5px;
}

nav>ul>li>a {
    color: var(--gri);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav>ul>li>a.active,
nav>ul>li>a:hover {
    color: var(--main);
    background-color: var(--gri);
}

nav>.menu-btn i {
    color: var(--gri);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media(max-width:1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media(max-width:920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav>ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: var(--main);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav>ul>li {
        width: 100%;
        margin: 40px 0;
    }

    nav>ul>li>a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav>ul>li>a.active,
    nav>ul>li>a:hover {
        background: none;
        color: var(--turcoaz);
    }
}

/* -------------- */
/* --Acasa main-- */
.main-acasa{
    width:100%;
    height: 100vh;
    background:linear-gradient(to left top, hsl(203, 82%, 18%),hsl(203, 82%, 13%));
}
.text h1 {
    color:var(--gri);
    margin-bottom: 20px;
}
.text p{
    color:var(--gri);
}
.text a{
   text-decoration:none;
   color:var(--gri);
}
a.mainBtn{
    display:block;
    margin-top:20px;
    border-radius: 5px;
    background-color:var(--turcoaz);
    padding:16px 32px;
    width:60%;
    cursor:pointer;
    text-align: center;
    color:var(--gri);
}
a.mainBtn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}
.text .mainBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.text{
    width:60%;
    position:absolute;
     top: 50%;
     left: 35%;
     transform: translate(-50%, -50%);
}

.slideshow-container {
    width:40%;
    position:absolute;
    top:60%;
    right:5%;
    transform:translate(0%,-50%);
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--gri);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: var(--main);
  }
  
  .numbertext {
    color: var(--gri);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--turcoaz);
    border:solid 0.1px var(--gri);
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
  }
  .dots{
    position:absolute;
    top:100%;
    right:23.5%;
  }
  .active, .dot:hover {
    background-color: var(--albastru);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*------------*/
/*----main materie---*/
.materie-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background:linear-gradient(to left top, hsl(203, 82%, 18%),hsl(203, 82%, 13%));
    width:100%;
}
.materie-header{
    text-align: center;
    margin-bottom:50px;
    margin-top:20px;
}
 .main-materie{
    width:100%;
 }
 .main-materie section{
    margin-left:25px;
    margin-top:20px;
    margin-bottom:20px;
 }
 .main-materie ul{
    display:flex;
    margin-left:40px;
    flex-direction:column;
    justify-content: space-between;
 }
 .main-materie h2{
    color:var(--gri);
    margin-top:30px;
    margin-bottom:30px;
 }
 .main-materie li a{
    text-decoration: none;
    color:var(--albastru);
    font-size:18px;
 }
 .main-materie li:first-of-type{
    margin-top:0;
 }
 .main-materie li:last-of-type{
    margin-bottom:0;
 }
 .main-materie li{
    list-style: none;
    margin:5px 0;
 }
 .sec_list li{
    margin:0;
 }
/*-------------------*/
/*----main-tipuri----*/
  .tipuri-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background:linear-gradient(to left top, hsl(203, 82%, 18%),hsl(203, 82%, 13%));
    width:100%;
  }
  
/*-------------------*/
/*---Footer---*/
.footer {
    padding: 40px 0;
    background-color: var(--main);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--albastru);
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid var(--gri);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul a {
    color: var(--gri);
    text-decoration: none;
    opacity: 0.8;

}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul a:hover {
    opacity: 1;
}
/*-------------*/
